/* You can add global styles to this file, and also import other style files */
.wrap {
    height: 100%;
    width: 100%;
    margin: 20px;
    padding: 5px;
}
#p-button {
    margin-top: 20px;
}
.input-container {
    display: flex;
    flex-direction: column;
  }
  
.input-container label {
    margin-bottom: 15px;
  }